.footer {
  background: #2f303a;
  padding: 60px 0;
}

.footer-div {
  display: flex;
  align-items: baseline;
  gap: 70px;
}
.logo-footer {
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-white);
  margin-top: 20px;
}

.footer-contact__item {
  margin-top: 9px;
}

.footer-contact__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.socials-footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
  margin-bottom: 20px;
}

.socials-footer__list {
  display: flex;
  gap: 10px;
}

.socials-footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--color-white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.mailings {
  margin-top: 12px;
  margin-left: 23px;
}

.mailings__title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.mailings__box {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.form-field {
  width: 358px;
  height: 50px;
  left: 815px;
  top: 2784px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: rgba(33, 150, 243, 0);
  border-radius: 4px;
  padding: 15px 16px;
  color: var(--color-white);
}
.mailings__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0;
  background-color: var(--accent-color);
  border: 0px;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  padding: 10px 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.mailings__label {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--color-white);
}
.mailings__icon {
  fill: var(--color-white);
}
