.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1px);
  transition: opacity 250ms linear, visibility 250ms linear;
  overflow-y: auto;

  @media screen and (max-width: 1199px) {
    padding: 93px 15px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: relative;
  top: 70%;
  left: 50%;
  width: 100%;
  max-width: 450px;
  padding: 40px;

  transform: translateX(-50%) translateY(-50%) scale(1);

  background-color: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 528px;
  }
}
.modal-icon {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    fill: var(--accent-color);
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--color-white);
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-title-color);
}
.modal-form {
  margin-top: 12px;
  margin-bottom: 20px;
  height: 342px;
}
.label-modal {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.label-name {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-bottom: 4px;
}
.field-modal {
  position: relative;
}
.input-modal {
  display: block;
  width: 100%;
  height: 40px;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.icon-modal {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-modal:focus + .icon-modal,
.input-modal:not(:placeholder-shown) + .icon-modal {
  fill: var(--accent-color);
  transform: transition;
}
.label-textarea {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
}
.textarea-input {
  max-width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

/* умови */
.form-check {
  text-align: center;
  display: block;
  margin-bottom: 30px;
}
.label-check {
  display: inline-flex;
  align-items: center;
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.icon-check {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 2px;
  margin-right: 10px;
  transition: background 250ms var(--transition-timing-function);
}
.check-text {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.check-terms {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.checkbox:checked + .icon-check {
  background: url(../images/icon\ check.svg);
  background-size: contain;
  background-color: var(--accent-color);
  background-origin: border-box;
  border: 1px solid var(--accent-color);
  transform: transition;
}
.button-submit {
  display: block;
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--color-white);
  cursor: pointer;
}
