.skills {
  padding-top: 94px;
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.skills__card {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-top: 30px;
  margin-bottom: 10px;
}

.skills__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
