$mainFont: 'Roboto';
$secondaryFont: 'Raleway';

:root {
  --main-title-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --color-white: #ffffff;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
